<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="utf-8">
                <link rel="stylesheet" type="text/css" href="css/app.css"/>
                <title>Read Me</title>
        </head>
<body>
      <div class="textheader">
      <ul>
          <li><a class="active" href="#">Readme</a></li>
          <li><a href="index.html">Welcome</a></li>
          <li><a href="features.html">New Features</a></li>
      </ul>
      </div>
      <h2>Installing Extras</h2>
      <p>There are certain proprietary drivers (such as nvidia) and packages (such as Google Chrome) that Unity-Linux cannot include by default. If you have an nvidia device and wish to use the proprietary drivers then enter following command at a terminal:
      <pre><code>$ sudo dnf install akmod-nvidia</code></pre>
      <p>To install Google Chrome, just use the system's package manager. We can't distribute it, but we have included the repository to make it easy for you to install.</p>
      <p>Looking for Skype? We cannot ship this either and unfortunately we also can't make it easier like Google Chrome as there is no repository. However, just head over to <a ng-click="openURI('http://skype.com')">http://skype.com</a> to download the 32 bit RPM package for Fedora and double-click it to install. The package manager will take care of the dependencies for you, even if you're running a 64 bit system.</p>
      <h2>Getting Help</h2>
      <p>Although Unity-Linux is designed to work as much "out of the box" as possible, it's no-where near perfect. There will be times when things go wrong, you might have questions and a desire to learn more, or just want to personalise it to suit your tastes. This page provides details of some available resources to help you!</p>
      <h3>Online Support</h3>
      <p>The Unity-Linux Project has created a custom open source support platform for interacting with the community called <a ng-click="openURI('https://unitylinux.org/support/engage')">Engage</a>. Here you can ask a question, post a problem, suggest any ideas you might have, or even leave a little "thanks!" for the team. Simply <a ng-click="openURI('https://unitylinux.org/register/')">register online</a> and join us.
      <h3>Join us on IRC (Internet Relay Chat)</h3>
      <p>Another option is to join us on IRC by joining our <em>#unitylinux</em> channel on the <a ng-click="openURI('http://freenode.net/using_the_network.shtml')">freenode</a> network.
      <h3>Search the Web</h3>
      <p>Perhaps the first place to look for generic Linux help is by using your favourite search engine. Just include words like Linux or Fedora in your search query.</p>
      <p>As Unity-Linux is a Fedora Remix<a href="#footnote_1"><sup>1</sup></a> so why not head on over to the official <a ng-click="openURI('http://ask.fedoraproject.org/')">Ask Fedora</a> site? The unofficial <a ng-click="openURI('http://www.forums.fedoraforum.org/')">Fedora Forum</a> is also a great place to go for good community support.</p>
      <p>You can also visit the forums for the desktop you are using with Unity-Linux, such as <a ng-click="openURI('http://forums.worldofgnome.org')">GNOME</a>, <a ng-click="openURI('http://forum.xfce.org/')">Xfce</a>, <a ng-click="openURI('http://forums.mate-desktop.org/')">MATE</a>, or <a ng-click="openURI('http://forums.linuxmint.com/')">Cinnamon</a>.</p>
      <h3>Sign up to a mailing list</h3>
      <p>Another way to get help is to email questions to a <a ng-click="openURI('http://lists.fedoraproject.org')">Fedora mailing list</a> (you can also search the history for past discussions). Simply sign up to the list you prefer and follow the instructions. Remember, Unity-Linux is a Fedora Remix!</p>
      <h2>Other Resources</h2>
      <ul>
        <li><a ng-click="openURI('http://fedoraproject.org')">Fedora Project</a> - official, unmodified Fedora packages available from here.</li>
        <li><a ng-click="openURI('http://repos.fedorapeople.org')">Fedora People Repositories</a> - extra software not in the regular repositories, built by community developers.</li>
        <li><a ng-click="openURI('http://www.fedorafaq.org')">Fedora FAQ</a> - unofficial Frequently Asked Questions, tips and tricks.</li>
      </ul>
      <h2>Suggestions</h2>
      <p>Got a suggestion on how we can make Unity-Linux better? Found a great package you want included, or want to
      help out? Please let us know, by <a ng-click="openURI('https://unitylinux.org/support/engage?type=question')">posting your suggestions in Engage</a> or drop by on IRC.
      <p>Thank you, we hope you enjoy using Unity-Linux!</p>
      <div class="callout callout-info">
        <p><a name="footnote_1"><sup>1</sup></a>Unity-Linux is not provided or supported by the Fedora Project. Official, unmodified Fedora software is available through the <a ng-click="openURI('http://fedoraproject.org')">Fedora Project website</a>.</p>
</body>
</html>
