body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
}

.textheader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.textheader li {
  float: left;
  border-right: 1px solid #bbb;
}

.textheader li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.textheader li a:hover {
  background-color: #111;
}

.textheader .active { 
  background-color: rgba(0, 0, 0, 0.8);
  color: #f4f5f5;
}

.container {
  align-items: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto 0.5fr 1.0fr 0.3fr;
  grid-template-areas: 
  	"welcomeHeaderInfo . welcomeHeaderIcons" 
  	"welcomeText welcomeText welcomeText" 
		"welCol1 welCol2 welCol3" 
	"welcomeFooter welcomeFooter welcomeFooter";
  height: 100vh;
}

.welcomeHeaderInfo {
  grid-area: welcomeHeaderInfo;
  justify-items: left;
  width: 85%;
  margin-top: 5px;
}

.welcomeHeaderIcons {
  grid-area: welcomeHeaderIcons;
  justify-items: right;
  width: 50%;
}

[class^="welcomeHeader"] input {

  border: none;
  border-width: 0;
  box-shadow: none;
  border:0;
  outline:0;
  color: grey;
  font-weight: 100;
  font-size: 12px;
  font-family: Arial;
}

.welcomeText { grid-area: welcomeText; 
               text-align: center;
	       margin-bottom: 10px;
	       width: 90%;
             }

.welCol1 { grid-area: welCol1;
	   text-align: center;
           margin: 0 auto;
	   width: 98%;
	 }

.welCol2 { grid-area: welCol2;
           text-align: center;	
           margin: 0 auto;
           width: 98%;
         }

.welCol3 { grid-area: welCol3;
	   text-align: center;
           margin: 0 auto;
	   width: 98%;
	 }

[class^="welCol"] button { 
      border:1.5px solid #d7dada;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size:16px;
      font-family:arial, helvetica, sans-serif;
      padding: 5px 0px 5px; 0px;
      text-decoration:none;
      display:inline-block;
      /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);*/
      font-weight:bold;
      color: #616161;
      background-color: #f4f5f5;
      height: 40px;
      width: 90%;
}

[class^="welCol"] button:hover {
  background-color: #616161;
  color: #f4f5f5;
}

.welcomeFooter { 
	         grid-area: welcomeFooter;
	         box-shadow: 0 0 0 0 black;
		 background: rgba(0, 0, 0, 0.8);
		 min-width: 100%;
		 margin: 0;
		 padding: 0 1px 0 0px;
		 justify-self: center;
		 color: #d7dada;
		 font-weight: 100;
		 font-size: 10px;
		 font-family: Arial;

}
.welcomeFooter button { grid-area: welcomeFooter;
	                border:1.5px solid #d7dada;
	                -webkit-border-radius: 5px;
		        -moz-border-radius: 5px;
	                border-radius: 5px;
                        width: 65px;
			height: 25px;
			margin-left: 90.5%;
			margin-top: 25px; 
                        background-color: #616161;
                        color: #f4f5f5;			  

}
.welcomeFooter button:hover { grid-area: welcomeFooter;
			background-color: rgba(0, 0, 0, 0.8);
                        color: #616161;


}

.welcomeFooter input { grid-area: welcomeFooter;
			text-color: #d7dada;
			padding-bottom: 30px;
			margin-left: 10px;
			justify-self: center;
			text-align: center;
}
